.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.jumbotron {
  background-image: url(../images/mediterranean-cuisine.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.dashboard-container {
  height: 100vh;
}

.card-img {
  height: 100%;
  object-fit: cover;
}

.card {
  margin: 0;
  border: none;
}

.card-bg {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pexels-huỳnh-đạt-blur.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card-bg.two {
  background-image: url(../images/pexels-tirachard-kumtanom-blur.jpg);
}

.card-bg.three {
  background-image: url(../images/coffee-shop-blur.jpg);
}

.card-bg.four {
  background-image: url(../images/pexels-kaboompics-com-blur.jpg);
}

.card-img.table {
  height: 100px;
  object-fit: cover;
  margin-bottom: 0;
}

.sidebar.secondary {
  width: 100%;
}

form table {
  align-items: flex-end;
}

form label {
  margin-right: 0;
  padding-right: 0;
}

form input {
  width: 100%;
}

form button {
  width: 46%;
}

form.selection {
  display: flex;
}

form.selection button {
  align-self: center;
  width: 70px;
}

form.table button {
  width: 70px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.inputs input {
  width: "100px"
}

@media all and (min-width: 480px) {
  form.table {
    display: flex;
    justify-content: center;
  }
}

.alert {
  opacity: .6;
}