.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.jumbotron {
  background-image: url(../images/mediterranean-cuisine.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}

.dashboard-container {
  height: 100vh;
}

.card-img {
  height: 100%;
  object-fit: cover;
}

.card {
  margin: 0;
  border: none;
}

.card-bg {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-image: url(../images/pexels-huỳnh-đạt-blur.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card-bg.two {
  background-image: url(../images/pexels-tirachard-kumtanom-blur.jpg);
}

.card-bg.three {
  background-image: url(../images/coffee-shop-blur.jpg);
}

.card-bg.four {
  background-image: url(../images/pexels-kaboompics-com-blur.jpg);
}

.card-img.table {
  height: 100px;
  object-fit: cover;
  margin-bottom: 0;
}

.sidebar.secondary {
  width: 100%;
}

form table {
  align-items: flex-end;
}

form label {
  margin-right: 0;
  padding-right: 0;
}

form input {
  width: 100%;
}

form button {
  width: 70px;
}

form.reservation button {
  width: 45%;
}

form.selection {
  display: flex;
}

form.selection button {
  align-self: center;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

form.reservation .buttons {
  justify-content: space-between;
}

.inputs input {
  width: "100px"
}

input, input:active:target:hover,
select, select:active:focus:hover {
  border: none;
  outline: none;
  border-bottom: solid black thin;
  margin-top: 8px;
  background-color: transparent;
  font-size: 2vh;
}

.search input, .search input:-webkit-autofill {
  border-bottom: solid rgb(255, 213, 0) thin;
  padding: 0;
  color: rgb(255, 200, 0);
  -webkit-text-fill-color: rgb(255, 200, 0);
  font-size: 18px;
}

option {
  background-color: rgb(237, 237, 237);
  border: none;
  outline: none;
}

input:hover,
select:hover {
  border-bottom: solid rgb(0, 0, 0, .5) thin;
}

.search input:hover {
  border-bottom: solid rgb(255, 242, 0) thin;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

@media all and (min-width: 480px) {
  form.table {
    display: flex;
    justify-content: center;
  }
}

.alert {
  opacity: .6;
}